annotated-doc
annotated-types
anyio
build
click
exceptiongroup
fastapi
h11
idna
importlib_metadata
joblib
numpy
packaging
pandas
pip-tools
pydantic
pydantic_core
pyproject_hooks
python-dateutil
pytz
scikit-learn
scipy
six
sniffio
starlette
threadpoolctl
tomli
typing_extensions
tzdata
uvicorn
zipp
